body{
/*  background-color:#262626;*/
  font-family:helvetica;
}
div.header-img{
  width:100%;
  background-color:#1a1a1a;
  overflow:hidden;
  position:fixed;
}
#header-img{
  width:350px;
  filter:invert(100%);
  margin:auto;
  display:block;
}
div.nav-bar{
  overflow:hidden;
  position:fixed;
  background-color:#1a1a1a;
  width:100%;
  top:47px;
}
.nav-link{
  color:white;
  text-decoration:none;
  text-align:center;
  font-size:18px;
  padding:14px 50px;
  float:left;
  transition:background .5s ease;
}
.nav-link:hover{
  background-color: gray;
}
.title{
  margin-top:150px;
  text-align:center;
}
#email{
  display:block;
  margin:auto;
  width:180px;
  padding:8px;
  border-radius:50px;

  background-color:white;
  transition:width .5s ease, background .5s ease;
  font-size:15px;
  border-color: black;
}
#email::placeholder{
  color:black;
  opacity:80%;
}
#email:hover{

  width:300px;
}
#submit{
  display:block;
  margin:auto;
  padding:8px;
  border-radius:50px;
  width:80px;
  background-color:white;
  margin-top:20px;
  font-size:15px;
  transition:background .5s ease;
}
#submit:hover {
  background-color: gray;
}
.text{
  width:700px;
  margin:auto;
  margin-top:100px;
}

#video{
  margin:auto;
  display:block;
  margin-top:100px;
  margin-bottom:100px;
  padding:5px;
}
div.flex-container{
  display:flex;
  justify-content:center;
  text-align:center;
}
div.products{
  background-color:white;
  margin:20px;
  transition:box-shadow .3s ease;
}
.products:hover{
  box-shadow:0px 0px 10px #008fb3 ;
}
div.product-title{
  padding:10px;
  background-color:#7284DB;
  color:white;
  text-align:center;
}
div.product-description{
  color: black;
}
#product-submit{
  background-color:#00FFFF;
  border:none;
  width:100%;
  color:white;
  text-decoration:none;
  font-size:20px;
  padding:15px;
  transition:background .5s ease;
}
#product-submit:hover{
  background-color:#008fb3;;
}
@media screen and (max-width:600px){
  .flex-container{
    flex-direction:column;
  }
  .nav-link{
    width:100%;
    margin:auto;
  }
  .text{
    width:400px;
  }
}
